:root {
  --background: #121212;
  --primary: #1F6FEB;
  --secondary: #374151;
  --accent: #10B981;
  --text: #E5E7EB;
}

body {

    box-sizing: border-box;
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: 25px auto 60px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
    position: relative;
    height: 100dvh;
    overflow: hidden;
    padding: 20px;
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    max-height: 100%;
    box-sizing: border-box;
    overflow: auto;
  }

  button {
    
    position: relative;
    font-size: 16px;
    margin: 10px;
    padding: 6px;
    width: calc(50% - 20px);
    background-color: var(--secondary);
    color: var(--texty);
    border: 2px solid var(--primary);
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--secondary);
    transition: background-color 0.3s, transform 0.3s;
    font-weight: 500;
    text-transform: uppercase;

  }

  button p {
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  button:hover {
    background-color: var(--primary);
    transform: scale(1.05);
  }

  button:active {
    box-shadow: none;
    transform: scale(0.95);
  }

  #total {
    align-self: flex-end;
    text-align: right;
    font-size: 18px;
    color: var(-text);
  }

  .action-buttons {
    display: flex;
    justify-content: space-between;
  }

  .floating-button {
    margin: 0;
    background-color: var(--secondary);
    color: var(--text);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }

  .floating-button:hover {
    transform: scale(1.1);
  }
  .floating-button:active {
    transform: scale(0.9);
  }

  #openDrinksBtn {
    width: fit-content;
    background-color: var(--primary);
    color: var(--text);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0;
  }

  #openDrinksBtn[disabled] {
    opacity: 0.7;
  }

  #selectedDrinksContainer {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    background-color: var(--secondary);
    transition: top 0.3s;
    padding: 20px;
    box-sizing: border-box;
    
  }

  #selectedDrinksContainer.open {
    top: 60px;
  }

  #closeDrinksBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: var(--texty);
    font-size: 24px;
    cursor: pointer;
width: fit-content;  
}
  #selectedDrinks {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
    color: var(--texty);
    height: calc(100% - 60px);
    overflow-y: auto;
  }

  .drink-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .drink-count {
    background-color: var(--primary);
    color: var(--texty);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .badgeAmount {
    position: absolute;
    right: -8px;
    top: -8px;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    background-color: var(--accent);
  }